* {
    margin: 0;
    padding: 0;
}
html {
    font-size: 65,5%; /* equivalente a 10px */
    scroll-behavior: smooth;
}

p {
    font-size: 20px;
}

.pai {
    font-size: 10px; /*tamanho fixo*/
    background: aqua;
    height: 100vh;
}

.pai p {
    font-size: 1.5em; /*relativo ao elemento pai mais próximo*/
}

.root {
    background: yellow;
    height: 100vh;
}

.root p {
    font-size: 1.5rem; /*relativo ao root do documento (html) */
}

.vw {
    width: 100vw; /* vw = viewport widht */
    height: 100vh; /* vh = viewport height */
    background-color: antiquewhite;
}

.perc {
    background-color: brown;
    width: 100vw;
    height: 100vh;
}

.perc p {
    width: 50%; /* relativo ao elemento pai */
    height: 100%;
    background-color: beige;
}